@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

* {
    font-family: "MuseoModerno";
}

.error-message {
    color: red;
}

.profile-picture {
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 0 20px #4e4e4e;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: #6c757d;
}

.folder, .image {
    cursor: pointer;
    position: relative;
    text-align: center;
}

#new-folder, #upload-image {
    display: none;
    height: 175px;
    box-shadow: 0 0 20px #4e4e4e;
    background-color: #ffffff;
}

#close-button {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.folder-name {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
}
.image-name {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.album-link:hover p {
    color: white;
}